    name: Deploy Docker Compose App

    on:
      push:
        branches:
          - feature/docker-setup
    jobs:
      deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v4

          - name: Deploy via SSH
            uses: appleboy/ssh-action@v1
            with:
              host: ${{ secrets.HOST }}
              username: ${{ secrets.USERNAME }}
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              port: 22
              script: |
                cd ${{ secrets.WORK_DIR }}
                git pull origin main
                docker compose up --build -d --force-recreate
                docker image prune -f
